@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans&display=swap");

:root {
  --color-primary: rgba(255, 255, 255, 0.55);
  --color-secondary: rgba(255, 255, 255, 0.75);
  --color-accent: #d09d2d;
  --bg-primary: #222222;
}

/********* ESTILOS GENERALES *********/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
}
:focus {
  outline: none;
}
.pt-6 {
  padding-top: 5rem;
}
.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
body {
  font-family: "Montserrat", sans-serif;
}
.font-sans {
  font-family: "Nunito Sans", sans-serif;
}
.font-serif {
  font-family: "Merriweather", serif;
}
/********* SCROLLBAR *************/
html {
  scrollbar-color: rgb(53, 80, 131) rgb(44, 44, 44);
}
::-webkit-scrollbar {
  width: 0.5em;
}

* {
  scrollbar-width: thin;
}

/***********Nav***********/
.header-container {
  height: 100% !important;
  background: url("../img/naejangsan3.jpeg");
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-attachment: scroll, scroll;
  background-size: auto, auto;
  background-size: cover;
  background-position: center;
  background-color: violet;
  background-blend-mode: multiply;
  color: #fff;
}
.header-container::after {
  content: '';
  background: linear-gradient( to bottom, rgba(0, 0, 0, 0) 60%, #191c28 100% );
  height: 50%;
  top: 50%;
  bottom: 0px;
  left: 0;
  right: 0;
  position: absolute;
}
.border-b-opacity {
  border-bottom: 1px solid #9c80ce66;
}
.navbar-brand > span {
  color: var(--color-secondary);
  font-weight: 400;
}
.navbar-brand:hover .logo-transform {
  transform:rotate(180deg);
}
.navbar-brand .logo-transform {
  display: inline-block;
  width: 42px;
  height: 42px;
  background: transparent url('../img/logo/shutter.png') no-repeat 0 0 ;
  transition-duration: 0.8s;
  transition-property: transform;
  background-size: cover;
}
.btn-login {
  color: var(--color-primary);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 0.5rem 1.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-login:hover {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
/***********Hero***********/
.hero {
  height: calc(100% - 165px);
}
.artist-name::before,
.artist-name::after {
  content: "-";
}
.artist-name::before {
  margin-right: 1rem;
}
.artist-name::after {
  margin-left: 1rem;
}
/*******Stadistics**********/
.stats-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.5);
  background-clip: border-box;
  border-radius: 0.25rem;
  width: 10rem;
  padding: 1rem 0;
  margin: 0 .5rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}
.stats-card .card-title{
  font-weight: 600;
}
.stats-card .card-text {
  color: var(--color-secondary);
  font-size: .8rem;
  font-weight: 600;
}
/*******MENU HERO**********/
.container-hero {
  bottom: 5%;
}
.menu-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  color: white;
}
.card-hero {
  background: transparent;
  color: rgb(240, 240, 240);
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid gray;
  transition: border-bottom 400ms ease;
}
.card-hero:hover, .card-hero:active{
  /* background-image: linear-gradient(90deg, yellow,yellow);
  background-size: 100% 100%; */
  border-bottom: 3px solid var(--color-accent);
}
.card-hero:hover span, .card-hero:active span {
  border-color: var(--color-accent);
}
.card-hero span {
  border: 1px solid var(--color-secondary);
  border-radius: 50rem;
  padding: .5rem;
  transition: border-color 300ms ease;
}
/********SECTION TOP PHOTO CLASSES***********/
.bg-gray-dark {
  background: #191c28;
  color: #c9d6ea;
}
.bg-gray-dark h5{
  color: var(--color-secondary);
}
.bg-gray-dark h1{
  color: #fafafa;
}
.img-fluid-new {
  height: 100%;
  object-fit: cover;
}
.card-classes {
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  width: 18rem;
  margin: 0 .5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  height: 28rem;
  padding-bottom: 2rem;
  overflow: hidden;
}
.card-classes > img {
  object-fit: cover;
}
.card-classes > div {
  left: 0;
right: 0;
bottom: 0;
background: linear-gradient( to top, #191c28 0%, #131620e6 50%, #13162014 100% );
height: 100px;
padding-top: 2rem;
}