@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans&display=swap");

:root {
  --color-primary: rgba(255, 255, 255, 0.55);
  --color-secondary: rgba(255, 255, 255, 0.75);
  --color-accent: #d09d2d;
  --bg-primary: #222222;
}

/********* ESTILOS GENERALES *********/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
}
:focus {
  outline: none;
}
.pt-6 {
  padding-top: 5rem;
}
body {
  font-family: "Montserrat", sans-serif;
}
/********* SCROLLBAR *************/
html {
  scrollbar-color: rgb(53, 80, 131) rgb(44, 44, 44);
}
::-webkit-scrollbar {
  width: 0.5em;
}

* {
  scrollbar-width: thin;
}

/***********Nav***********/
.header-container {
  height: 100% !important;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 60%,
      var(--bg-primary) 100%
    ),
    url("../img/naejangsan3.jpeg");
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-attachment: scroll, scroll;
  background-size: auto, auto;
  background-size: cover;
  background-position: center;
  background-color: violet;
  background-blend-mode: multiply;
  color: #fff;
}
.border-b-opacity {
  border-bottom: 1px solid #9c80ce66;
}

.navbar-brand > span {
  color: var(--color-secondary);
  font-weight: 400;
}
.logo-transform {
  transition-property: transform;
  transition-duration: 0.8s;
}
.logo-transform:hover {
  transform: rotate(180deg) scale(0.8);
}
.btn-login {
  color: var(--color-primary);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  padding: 0.5rem 1.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-login:hover {
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
/***********Hero***********/
.hero {
  height: calc(100% - 165px);
}
.photo-artist {
  font-family: "Nunito Sans", sans-serif;
}
.photo-title {
  font-family: "Merriweather", serif;
}
.photo-artist::before,
.photo-artist::after {
  content: "-";
}
.photo-artist::before {
  margin-right: 2rem;
}
.photo-artist::after {
  margin-left: 2rem;
}
/*******Stadistics**********/
.stats-card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.5);
  background-clip: border-box;
  border-radius: 0.25rem;
  width: 10rem;
  padding: 1rem 0;
  margin: 0 .5rem;
  -webkit-box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
}
.stats-card .card-title{
  font-weight: 600;
}
.stats-card .card-text {
  color: var(--color-secondary);
  font-size: .8rem;
  font-weight: 600;
}
/*******MENU HERO**********/
.container-hero {
  bottom: 5%;
}
.menu-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  color: white;
}
.card-hero {
  background: transparent;
  color: rgb(240, 240, 240);
  cursor: pointer;
  /* background-image: linear-gradient( var(--color-secondary),var(--color-secondary));
  background-size: 100% 3%; */
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 3px solid gray;
  transition: border-bottom 400ms ease;
}
.card-hero:hover, .card-hero:active{
  /* background-image: linear-gradient(90deg, yellow,yellow);
  background-size: 100% 100%; */
  border-bottom: 3px solid var(--color-accent);
}
.card-hero:hover span, .card-hero:active span {
  border-color: var(--color-accent);
}
.card-hero span {
  border: 1px solid var(--color-secondary);
  border-radius: 50rem;
  padding: .5rem;
  transition: border-color 300ms ease;
}
/********SECTION TOP PHOTO CLASSES***********/
